body{
	text-align: center;
	font-family: 'Rye', cursive;
}

button {
	background-color: #e7e7e7;
	border-radius: 8px;
}


.eatBurger{
	background: red;
}

.eatenBurger{
	background: green;
}

.li {
  padding: 5px;
  margin: 10px;
  background: #bfbfbf;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
